/* =========================================================
   TOP 3
   ========================================================= */

.leaderboard-top-three {

    display: flex;

    align-items: flex-end;

    justify-content: space-between;

    gap: 10px;

    margin-top: 18px;

}


/* =========================================================
   CARD
   ========================================================= */

.leaderboard-top-card {

    flex: 1;

    display: flex;
    position: relative;
    flex-direction: column;

    align-items: center;

    justify-content: flex-start;

    padding: 18px 10px 14px;

    border-radius: 18px;

    border: 1px solid rgba(35,36,40,.06);

    background: #ffffff;

    box-shadow:
        0 4px 14px rgba(35,36,40,.025);

}


/* =========================================================
   1 место
   ========================================================= */

.leaderboard-top-card--1 {

    height: 167px;

    background: #F8F8F0;

}


/* =========================================================
   2 и 3 место
   ========================================================= */

.leaderboard-top-card--2,
.leaderboard-top-card--3 {

    height: 147px;

    margin-top: 20px;

}


/* =========================================================
   AVATAR
   ========================================================= */

.leaderboard-top-card__avatar {

    width: 74px;
    height: 74px;

    border-radius: 50%;

    object-fit: cover;

    display: block;

    margin-top: 6px;

}


/* =========================================================
   NAME
   ========================================================= */

.leaderboard-top-card__name {

    margin-top: 14px;

    text-align: center;

    color: #232428;

    font-size: 16px;

    font-weight: 600;

    line-height: 1.2;

}


/* =========================================================
   XP
   ========================================================= */

.leaderboard-top-card__xp {

    margin-top: auto;

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 4px;

    color: #6F32D2;

    font-size: 14px;

    font-weight: 600;

}



/* =========================================================
   MEDAL
   ========================================================= */

.leaderboard-top-card__medal {

    position: absolute;

    width: 32px;
    height: 32px;

    left: 18px;
    top: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 20;

    font-size: 28px;

    line-height: 1;

    pointer-events: none;

}


.leaderboard-top-card__xp .material-symbols-rounded {

    font-size: 18px;

}